<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests">
    <test name="All tests">
        <classes>
            <class name="jetbrains.buildServer.sesPlugin.bounceHandler.BounceHandlerImplTest"/>
            <class name="jetbrains.buildServer.sesPlugin.bounceHandler.DisableEmailOnBounceTest"/>
            <class name="jetbrains.buildServer.sesPlugin.bounceHandler.RemoveVerifiedStateOnBounceTest"/>
            <class name="jetbrains.buildServer.sesPlugin.email.BouncedUsersFilterTest"/>
            <class name="jetbrains.buildServer.sesPlugin.email.DisabledEMailStateProviderImplTest"/>
            <class name="jetbrains.buildServer.sesPlugin.teamcity.util.TaskSchedulerTest"/>
            <class name="jetbrains.buildServer.sesPlugin.teamcity.ui.ajax.CheckAjaxRequestTest"/>
            <class name="jetbrains.buildServer.sesPlugin.teamcity.ui.EditSQSAjaxControllerTest"/>
            <class name="jetbrains.buildServer.sesPlugin.sqs.SQSNotificationParserImplTest"/>
            <class name="jetbrains.buildServer.sesPlugin.sqs.RescanSQSTaskImpl"/>
            <class name="jetbrains.buildServer.sesPlugin.sqs.SESNotificationParserImplTest"/>
            <class name="jetbrains.buildServer.sesPlugin.sqs.SQSMessagesReaderImplTest"/>
            <class name="jetbrains.buildServer.sesPlugin.sqs.SESSQSMessagesReceiverTest"/>
            <class name="jetbrains.buildServer.sesPlugin.sqs.SQSMessagesReceiverImplTest"/>
            <class name="jetbrains.buildServer.sesPlugin.sqs.data.DataClassesTest"/>
        </classes>
    </test>
</suite>
